body, html{
	
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font-family: 'helvetica neue', 'arial', sans-serif;
	text-align: center;
	
}

.title{
	
	font-size: 18px; 
	margin: 10px;
	
}

.fancy{
	
	font-family: Magneto, "Blackadder ITC"; 
	font-size: 50px;
	
}

.important{
	
	background-color: pink; 
    text-align : center;
    margin-top: 5px;
}
  
a {
	
	text-decoration: none;
	color: blue;
	
}

main{
	  
	font-family: "Kristen ITC";
	margin: 5px;
	
}
  
input{
	
	border-radius: 10px;
	border-color: blue;
	height: 20px;
	padding-left: 5px;
	
}

button{
	
	border-radius: 10px;
	border-color: black;
	background-color: white;
  
}

.small{
	
	font-size: 15px;
	
}

.container {
	
	width: 900px;
	height: 1000px;
	margin: auto;
	background-color: #CCC;
	padding-top: 5px;
}

.navigation {
	
	list-style: none;
	padding: 10px;
	background-color: #AAA;
	text-align: left;
	
}

.navigation li {
	
	display: inline-block;
	padding: 10px;
	background-color: #888;
	font-family: "Kristen ITC";
	
}

.navigation li a {
	
	color: #000;
	
}
