body, html{

	background-color: White;
	margin: 0px;
	padding: 0px;
	font-family: 'helvetica neue', 'arial', sans-serif;
	text-align: center;

}

.active {
background-color: #0495C4;
color: white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #08C2FF;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}



.title{

	font-size: 18px; 
	margin: 10px;

}

.fancy{

	font-family: Magneto, "Blackadder ITC"; 
	font-size: 50px;

}

.important{

	background-color: pink; 
    text-align : center;
    margin-top: 5px;
}
  
a {

	text-decoration: none;
	color: blue;

}

main{

	font-family: "Kristen ITC";
	margin: 5px;

}
  
input{

	border-radius: 10px;
	border-color: blue;
	height: 20px;
	padding-left: 5px;

}

button{

	border-radius: 10px;
	border-color: black;
	background-color: white;
  
}

.small{

	font-size: 15px;

}

.container {

	width: 900px;
	height: 1200px;
	margin: auto;
	background-color: #cce6ff;
	padding-top: 5px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
